<header class="header-site" role="banner">
    <div class="content">

        <div class="person">
            <img alt="My photo" src="/assets/img/icon.png">
        </div>

        <h1>
            <span class="site-title">{{site.title}}</span>
        </h1>
        
        <div class="about">
        	えっちな絵を描いたりゲームを作ったりします。
        </div>
        
        <div class="icons-home">

            <a aria-label="My Twitter" title="Follow me on Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}">
            	<img src="/assets/img/twitter.png">
            </a>

            <a aria-label="My Pixiv" title="Follow me on Pixiv" target="_blank" href="https://pixiv.me/{{site.pixiv_username}}">
            	<img src="/assets/img/pixiv.png">
            </a>
        </div>

        <ul class="recent">
            <p>最近の投稿</p>
             {% for post in site.posts limit:3%}
                <li>
                    <a title="Will take a my recent post" href="{{ post.url | prepend: site.baseurl }}">
                        <h2 class="post-title" itemprop="name">{{ post.title }} {{ post.date | date_to_string }}</h2>
                    </a>
                </li>
              {% endfor %}
        </ul>

        <ul class="recent">
            <p>制作物</p>
             {% for project in site.projects limit:3%}
                <li>
                    <a title="Show my recent project" href="{{ project.url}}">
                        <h2 class="post-title" itemprop="name">{{ project.name }}</h2>
                    </a>
                </li>
              {% endfor %}
        </ul>

    </div>
</header>
